{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StripePaymentID</th>
                <th>PaymentType</th>
                <th>Vat</th>
                <th>PaymentDetails</th>
                <th>State</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>DeletedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.stripePaymentID }}</td>
                <td>{{ invoice.paymentType }}</td>
                <td>{{ invoice.Vat }}</td>
                <td>{{ invoice.paymentDetails }}</td>
                <td>{{ invoice.state }}</td>
                <td>{{ invoice.updatedAt ? invoice.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice.deletedAt ? invoice.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ invoice.slug }}</td>
                <td>
                    <a href="{{ path('app_invoice_show', {'id': invoice.id}) }}">show</a>
                    <a href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
