{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
{% include 'partials/_sidebar.html.twig' %}

<div class="bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">
    <div class="overflow-y-scroll w-1/2">
        {% for invoice in invoices %}
        <div class="flex m-15 bg-white text-xs shadow-md px-4 p-4 items-center justify-between py-2 w-full rounded-lg mb-2">
            <div class="flex flex-col">
                <span>{{ invoice.stripePaymentID }}</span>
                <span>{{ invoice.Vat }}</span>
                <span>{{ invoice.paymentDetails }}</span>
                <span class="flex justify-between mt-2">
                    <a class="px-4 rounded-full text-white bg-purpleM" href="{{ path('app_invoice_show', {'id': invoice.id}) }}">Voir</a>
                    <a class="text-red px-4" href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">Modifier</a>
                    <a class="text-green px-4" href="{{ path('app_invoice_delete', {'id' : invoice.id }) }}">Supprimer</a>
                </span>
            </div>
            <div class="rounded-md px-4 py-2">
                <span>{{ invoice.devis.price }} / €</span>
            </div>
        </div>
        {% else %}
        <div class="text-center">No records found</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
