{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="flex">
		<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">

			<header>
				<h2 class="text-xl font-bold mb-4">Les notifications</h2>
			</header>

			<div class="flex flex-col overflow-y-scroll  px-4 p-4 items-center justify-between py-2 w-1/2 ">

				<table class="table-auto  m-15 text-xs w-full bg-white shadow-md rounded-lg">
					<thead>
						<tr>
							<th class="px-4 py-2 text-left  font-bold">Id</th>
							<th class="px-4 py-2 text-left  font-bold">Title</th>
							<th class="px-4 py-2 text-left  font-bold">Description</th>
							<th class="px-4 py-2 text-left  font-bold">Read</th>
							<th class="px-4 py-2 text-left  font-bold">CreatedAt</th>
							<th class="px-4 py-2 text-left  font-bold">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for notification_template in notification_templates %}
							<tr>
								<td class="px-4 py-2 border-b border-gray-300">{{ notification_template.id }}</td>
								<td class="px-4 py-2 border-b border-gray-300">{{ notification_template.title }}</td>
								<td class="px-4 py-2 border-b border-gray-300">{{ notification_template.description }}</td>
								<td class="px-4 py-2 border-b border-gray-300"></td>
								<td class="px-4 py-2 border-b border-gray-300">{{ notification_template.read ? 'Yes' : 'No' }}</td>
								<td class="px-4 py-2 border-b border-gray-300">{{ notification_template.createdAt ? notification_template.createdAt|date('Y-m-d H:i:s') : '' }}</td>
								<td class="px-4 py-2 border-b border-gray-300">
									<a class="px-2 text-xxs rounded-full text-white bg-purpleM " href="{{ path('app_notification_template_show', {'id': notification_template.id}) }}">Voir</a>

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>
			<a href="{{ path('app_notification_template_new') }}">Create new</a>
		</div>


	</div>
</div>{% endblock %}


{# 

{% extends 'base.html.twig' %}{% block title %}NotificationTemplate index{% endblock %}{% block body %}
<h1>NotificationTemplate index</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Read</th>
			<th>CreatedAt</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for notification_template in notification_templates %}
			<tr>
				<td>{{ notification_template.id }}</td>
				<td>{{ notification_template.title }}</td>
				<td>{{ notification_template.description }}</td>
				<td>{{ notification_template.read ? 'Yes' : 'No' }}</td>
				<td>{{ notification_template.createdAt ? notification_template.createdAt|date('Y-m-d H:i:s') : '' }}</td>
				<td>
					<a href="{{ path('app_notification_template_show', {'id': notification_template.id}) }}">show</a>
					<a href="{{ path('app_notification_template_edit', {'id': notification_template.id}) }}">edit</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="6">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_notification_template_new') }}">Create new</a>{% endblock %} #}
