{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="flex">

		<div class="bg-gray-100  p-4 w-64 h-full fixed top-0 left-0 z-10">


			<div class="mb-2 flex items-center justify-center">
				<img src="{{ asset('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4">

			</div>

			<div class="flex flex-col h-full items-center">
				<div class="flex-1 overflow-y-auto absolute top-50 left-50 transform translate-x(-50%) translate-y(-50%)">
					<ul class="p-4">
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ url('Accueil_company') }}" class="text-purpleM hover:text-purple-300">Accueil</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ url('MonProfil_company') }}" class="text-purpleM hover:text-purple-300">Mon profil</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('Mesfactures_company') }}" class="text-purpleM hover:text-purpleM-300">Voir les factures</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('VoirMesdevis') }}" class="text-purpleM hover:text-purpleM-300">Voir les devis</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('VoirLespaiements') }}" class="text-purpleM hover:text-purpleM-300">Suivi d'un paiement</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('GererMesClients') }}" class="text-purpleM hover:text-purpleM-300">Gérer les clients</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('Notifications') }}" class="text-purpleM hover:text-purpleM-300">Notifications</a>
						</li>

					</ul>
				</div>
			</div>
		</div>

		<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">
			<div class="flex items-center">
				<h1 class="text-2xl font-bold">Tableau de bord</h1>
			</div>
			<header>
				<div class="flex items-center justify-between py-4"></div>
			</header>
			<main class="py-8">
				<section class="mb-8">
					<h2 class="text-xl font-bold mb-4">Mes factures</h2>
					<table class="table-auto w-full bg-white shadow-md">
						<thead>
							<tr>
								<th class="px-4 py-2 text-left  font-bold">Nom Client</th>
								<th class="px-4 py-2 text-left  font-bold">Motif</th>
								<th class="px-4 py-2 text-left  font-bold">Numéro de devis</th>
								<th class="px-4 py-2 text-left  font-bold">Mail du client</th>
								<th class="px-4 py-2 text-left  font-bold">Date d'envoi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
								<td class="px-4 py-2 border-b border-gray-300">Demande de négociation</td>
								<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
								<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
								<td class="px-4 py-2 border-b border-gray-300">hicham.sagouti@outlook.fr</td>
								<td class="px-4 py-2 border-b border-gray-300"></td>
							</tr>
							<a class="text-green  text-center " href="#">Voir</a>
						</tbody>
						<a class="text-green " href="#">Voir</a>
					</table>
					<table class="table-auto w-full bg-white shadow-md">
						<thead>
							<tr>
								<th class="px-4 py-2 text-left  font-bold">Nom Client</th>
								<th class="px-4 py-2 text-left  font-bold">Motif</th>
								<th class="px-4 py-2 text-left  font-bold">Numéro de devis</th>
								<th class="px-4 py-2 text-left  font-bold">Mail du client</th>
								<th class="px-4 py-2 text-left  font-bold">Date d'envoi</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="px-4 py-2 border-b border-gray-300">Sid ahmedi</td>
								<td class="px-4 py-2 border-b border-gray-300">Demande de négociation</td>
								<td class="px-4 py-2 border-b border-gray-300">12323AZRE</td>
								<td class="px-4 py-2 border-b border-gray-300">17-06-2016</td>
								<td class="px-4 py-2 border-b border-gray-300">hicham.sagouti@outlook.fr</td>
								<td class="px-4 py-2 border-b border-gray-300"></td>
							</tr>
							<a class="text-green  text-center " href="#">Voir</a>

						</tbody>

					</table>
				</section>
			</main>
		</div>


	{% endblock %}
