{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="  flex">

		<div class="bg-gray-100  text-xs  p-4 w-64 h-full fixed top-0 left-0 z-10">


			<div class="mb-2 flex items-center justify-center">
				<img src="{{ asset('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4">

			</div>

			<div class="flex flex-col h-full items-center">
				<div class="flex-1 overflow-y-auto absolute top-50 left-50 transform translate-x(-50%) translate-y(-50%)">
					<ul class="p-4">

						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ url('Accueil_company') }}" class="text-purpleM hover:text-purple-300">Accueil</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ url('MonProfil_company') }}" class="text-purpleM hover:text-purple-300">Mon profil</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('Mesfactures_company') }}" class="text-purpleM hover:text-purpleM-300">Voir les factures</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('VoirMesdevis') }}" class="text-purpleM hover:text-purpleM-300">Voir les devis</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('VoirMespaiements') }}" class="text-purpleM hover:text-purpleM-300">Suivi d'un paiement</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('GererMesClients') }}" class="text-purpleM hover:text-purpleM-300">Gérer les clients</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('Notifications') }}" class="text-purpleM hover:text-purpleM-300">Notifications</a>
						</li>
						<li class="mb-2 p-4 flex items-center justify-center">
							<a href="{{ path('app_logout') }}" class="text-redM hover:text-redM-300">Déconnexion</a>
						</li>

					</ul>
				</div>
			</div>
		</div>


		<div class=" bg-fullPink mx-auto flex flex-col items-center justify-center h-screen w-full">

			<header>
				<h2 class="text-xl font-bold mb-4">Mon profil</h2>
			</header>

			<form class="flex flex-col text-xs items-center justify-center p-4 bg-gray-200 rounded-md w-300 shadow-sm">

				<input type="text" id="nom" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Votre nom">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Votre adresse email">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Numero de siret">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Raison Social ">
				<br>
				<input type="email" id="email" class="block border w-full p-2 rounded-md focus:ring-blue-500 focus:ring-opacity-50" placeholder="Votre adresse email">
				<br>

				<button type="submit" class="bg-purpleM  text-white py-2 px-4 rounded-md focus:ring-blue-500 focus:ring-opacity-50 hover:bg-blue-700">Envoyer</button>

			</form>
		</div>
	</div>
{% endblock %}
