{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <h1>Devis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ devi.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ devi.content }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ devi.state }}</td>
            </tr>
            <tr>
                <th>IsNegotiable</th>
                <td>{{ devi.isNegotiable ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ devi.createdAt ? devi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ devi.deletedAt ? devi.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
           
            <tr>
                <th>UpdatedAt</th>
                <td>{{ devi.updatedAt ? devi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ devi.slug }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ devi.price }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ devi.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_devis_index') }}">back to list</a>

    <a href="{{ path('app_devis_edit', {'id': devi.id}) }}">edit</a>

    <a href="{{ path('app_invoice_new', {'id': devi.id}) }}">Facturer</a>

    <a href="{{ path('app_devis_pdf', {'id': devi.id}) }}"> Telecharger le PDF</a>

    <a href="{{ path('app_devis_send_pdf', {'id': devi.id}) }}"> Envoyer le PDF par mail</a>

    {{ include('devis/_delete_form.html.twig') }}
{% endblock %}
