{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <div class="flex flex-col bg-fullPink items-center justify-center min-h-screen py-12">
        <div class="bg-white text-xs shadow-md rounded-lg p-8 max-w-md">
            <header class="flex justify-center items-center mb-4">
                <img src="{{ asset('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4" width="93">
                <h1 class="text-xl font-medium">Devis Details</h1>
            </header>
            
            <div class="overflow-x-auto">
                <table class="table-auto w-full">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ devi.id }}</td>
                        </tr>
                        <tr>
                            <th>Content</th>
                            <td>{{ devi.content }}</td>
                        </tr>
						<tr>
							<th>State</th>
							<td>{{ devi.state }}</td>
						</tr>
						<tr>
							<th>IsNegotiable</th>
							<td>{{ devi.isNegotiable ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<th>CreatedAt</th>
							<td>{{ devi.createdAt ? devi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>DeletedAt</th>
							<td>{{ devi.deletedAt ? devi.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
					
						<tr>
							<th>UpdatedAt</th>
							<td>{{ devi.updatedAt ? devi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
						</tr>
						<tr>
							<th>Slug</th>
							<td>{{ devi.slug }}</td>
						</tr>
						<tr>
							<th>Price</th>
							<td>{{ devi.price }}</td>
						</tr>
						<tr>
							<th>Title</th>
							<td>{{ devi.title }}</td>
						</tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-4 flex space-x-2">
                <a href="{{ path('app_devis_index') }}" class="text-blue-600">Back to list</a>
                <a href="{{ path('app_devis_edit', {'id': devi.id}) }}" class="text-blue-600">Edit<a>
                <a href="{{ path('app_invoice_new', {'id': devi.id}) }}" class="text-blue-600">Facturer</a>
                <a href="{{ path('app_devis_pdf', {'id': devi.id}) }}" class="text-blue-600">Download PDF</a> 

                <!-- <a href="{{ path('app_devis_send_pdf', {'id': devi.id}) }}" class="text-blue-600">Send PDF by Email</a> -->
            </div>

            <div class="mt-2">
                {{ include('devis/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
