{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
	{# 
							    <table class="table">
							        <tbody>
							            <tr>
							                <th>Id</th>
							                <td>{{ devi.id }}</td>
							            </tr>
							            <tr>
							                <th>Content</th>
							                <td>{{ devi.content }}</td>
							            </tr>
							            <tr>
							                <th>State</th>
							                <td>{{ devi.state }}</td>
							            </tr>
							            <tr>
							                <th>IsNegotiable</th>
							                <td>{{ devi.isNegotiable ? 'Yes' : 'No' }}</td>
							            </tr>
							            <tr>
							                <th>CreatedAt</th>
							                <td>{{ devi.createdAt ? devi.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							            </tr>
							            <tr>
							                <th>DeletedAt</th>
							                <td>{{ devi.deletedAt ? devi.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
							            </tr>
							           
							            <tr>
							                <th>UpdatedAt</th>
							                <td>{{ devi.updatedAt ? devi.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							            </tr>
							            <tr>
							                <th>Slug</th>
							                <td>{{ devi.slug }}</td>
							            </tr>
							            <tr>
							                <th>Price</th>
							                <td>{{ devi.price }}</td>
							            </tr>
							            <tr>
							                <th>Title</th>
							                <td>{{ devi.title }}</td>
							            </tr>
							        </tbody>
							    </table>
							
							    <a href="{{ path('app_devis_index') }}">back to list</a>
							
							    <a href="{{ path('app_devis_edit', {'id': devi.id}) }}">edit</a>
							
							    <a href="{{ path('app_invoice_new', {'id': devi.id}) }}">Facturer</a>
							
							    <a href="{{ path('app_devis_pdf', {'id': devi.id}) }}"> Telecharger le PDF</a>
							
							
							
							    {{ include('devis/_delete_form.html.twig') }} #}

	<div class="flex items-center justify-center min-h-screen bg-gray-100">
		<div class="w-3/5 bg-white shadow-lg">
			<div class="flex justify-between p-4">
				<div>
					<img src="{{ asset ('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4" width="93">

				</div>
				<div class="p-2"></div>
			</div>
			<div class="w-full h-0.5 bg-indigo-500"></div>
			<div class="flex justify-between p-4">
				<div>
					<h6 class="font-bold">Date :
						<span class="text-sm font-medium">
							{{ devi.createdAt ? devi.createdAt|date('Y-m-d H:i:s') : '' }}</span>
					</h6>
					<h6 class="font-bold">ID devis :
						<span class="text-sm font-medium">
							{{ devi.id }}</span>
					</h6>
				</div>
				<div class="w-40">
					<address class="text-sm">
						<span class="font-bold">
							Billed To :
						</span>
						Joe Smith
																																										                            795 Folsom Ave
																																										                            San Francisco, CA 94107
																																										                            P: (123) 456-7890
					</address>
				</div>
				<div class="w-40">
					<address class="text-sm">
						<span class="font-bold">Ship To :</span>
						Joe doe
																																										                            800 Folsom Ave
																																										                            San Francisco, CA 94107
																																										                            P: + 111-456-7890
					</address>
				</div>
				<div></div>
			</div>
			<div class="flex justify-center p-4">
				<div class="border-b border-gray-200 shadow">
					<table class="">
						<thead class="bg-gray-50">
							<tr>
								<th class="px-4 py-2 text-xs text-gray-500 ">
									#
								</th>
								<th class="px-4 py-2 text-xs text-gray-500 ">
									Product Name
								</th>
								<th class="px-4 py-2 text-xs text-gray-500 ">
									Quantity
								</th>
								<th class="px-4 py-2 text-xs text-gray-500 ">
									Rate
								</th>
								<th class="px-4 py-2 text-xs text-gray-500 ">
									Subtotal
								</th>
							</tr>
						</thead>
						<tbody class="bg-white">
				
							<tr class="">
								<td colspan="3"></td>
								<td class="text-sm font-bold">Sub Total</td>
								<td class="text-sm font-bold tracking-wider">
									<b>{{ devi.price }}</b>
								</td>
							</tr>
							<!--end tr-->
							<!--end tr-->
							<tr class="text-white bg-gray-800">
								<th colspan="3"></th>
								<td class="text-sm font-bold">
									<b>Total</b>
								</td>
								<td class="text-sm font-bold">
									<b>{{ devi.price }}</b>
								</td>
							</tr>
							<!--end tr-->

						</tbody>
					</table>
				</div>
			</div>
			<div class="flex justify-between p-4">
				<div>
					<h3 class="text-xl">Terms And Condition :</h3>
					<ul class="text-xs list-disc list-inside">
						<li>All accounts are to be paid within 7 days from receipt of invoice.</li>
						<li>To be paid by cheque or credit card or direct payment online.</li>
						<li>If account is not paid within 7 days the credits details supplied.</li>
					</ul>
				</div>
				<div class="p-4">
					<h3>Signature</h3>
					<div class="text-4xl italic text-indigo-500">WizzardEvent</div>
				</div>
			</div>
			<div class="w-full h-0.5 bg-indigo-500"></div>

			<div class="p-4">
				<div class="flex items-center justify-center">
					Thank you very much for doing business with us.
				</div>
				<div class="flex items-end justify-end space-x-3">
					<button class="px-4 py-2 text-sm text-green-600 bg-green-100">Print</button>
					<button class="px-4 py-2 text-sm text-blue-600 bg-blue-100">Save</button>
					<button class="px-4 py-2 text-sm text-red-600 bg-red-100">Cancel</button>
				</div>
			</div>

		</div>
	</div>
	{# <div class="flex items-center justify-center min-h-screen bg-gray-100">
			<div class="w-6/12 mt-4 text-left bg-white shadow-lg">
				<div class="flex justify-between px-8 py-6">
					<div class="flex items-center">
						sale invoice
					</div>
					<div class="flex items-center gap-4">
						<button class="px-2 py-1 bg-gray-200 hover:bg-gray-400">Save</button>
						<button class="px-2 py-1 bg-gray-200 hover:bg-gray-400">Print</button>
					</div>
				</div>
				<div class="w-full h-0.5 bg-gray-800"></div>
	
				<a href="{{ path('app_devis_send_pdf', {'id': devi.id}) }}"> Envoyer le PDF par mail</a> 		</div>
		</div> #}
{% endblock %}
