{% extends 'base.html.twig' %}

{% block title %}Request index{% endblock %}

{% block body %}
    <h1>Request index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Description</th>
                <th>Status</th>
                <th>Uuid</th>
                <th>CreatedAt</th>
                <th>EvenDate</th>
                <th>Response</th>
                <th>DevisAmont</th>
                <th>EventLocation</th>
                <th>MaxBudget</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.category }}</td>
                <td>{{ request.description }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.uuid }}</td>
                <td>{{ request.createdAt ? request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ request.evenDate ? request.evenDate|date('Y-m-d') : '' }}</td>
                <td>{{ request.response }}</td>
                <td>{{ request.devisAmont }}</td>
                <td>{{ request.eventLocation }}</td>
                <td>{{ request.maxBudget }}</td>
                <td>{{ request.slug }}</td>
                <td>
                    <a href="{{ path('app_request_show', {'id': request.id}) }}">show</a>
                    <a href="{{ path('app_request_edit', {'id': request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_request_new') }}">Create new</a>
{% endblock %}
