{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Logo</th>
                <th>Banner</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>TaxNumber</th>
                <th>SiretNumber</th>
                <th>Likes</th>
                <th>UpdatedAt</th>
                <th>CreatedAt</th>
                <th>State</th>
                <th>Uuid</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for Company in Companys %}
            <tr>
                <td>{{ Company.id }}</td>
                <td>{{ Company.name }}</td>
                <td>{{ Company.address }}</td>
                <td>{{ Company.logo }}</td>
                <td>{{ Company.banner }}</td>
                <td>{{ Company.email }}</td>
                <td>{{ Company.phoneNumber }}</td>
                <td>{{ Company.taxNumber }}</td>
                <td>{{ Company.siretNumber }}</td>
                <td>{{ Company.likes }}</td>
                <td>{{ Company.updatedAt ? Company.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Company.createdAt ? Company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ Company.state }}</td>
                <td>{{ Company.uuid }}</td>
                <td>{{ Company.slug }}</td>
                <td>
                    <a href="{{ path('app_Company_show', {'id': Company.id}) }}">show</a>
                    <a href="{{ path('app_Company_edit', {'id': Company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_Company_new') }}">Create new</a>
{% endblock %}
