{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ Company.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ Company.address }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ Company.logo }}</td>
            </tr>
            <tr>
                <th>Banner</th>
                <td>{{ Company.banner }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ Company.email }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ Company.phoneNumber }}</td>
            </tr>
            <tr>
                <th>TaxNumber</th>
                <td>{{ Company.taxNumber }}</td>
            </tr>
            <tr>
                <th>SiretNumber</th>
                <td>{{ Company.siretNumber }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ Company.likes }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ Company.updatedAt ? Company.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ Company.createdAt ? Company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ Company.state }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ Company.uuid }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ Company.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_Company_index') }}">back to list</a>

    <a href="{{ path('app_Company_edit', {'id': Company.id}) }}">edit</a>

    {{ include('Company/_delete_form.html.twig') }}
{% endblock %}
