{% extends 'base.html.twig' %}

{% block title %}Company Details{% endblock %}

{% block body %}
    <div class="flex flex-col bg-fullPink items-center justify-center min-h-screen py-12">
        <div class="bg-white text-xs shadow-md rounded-lg p-8 max-w-full">
            <header class="flex justify-center items-center mb-4">
                <img src="{{ asset ('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4" width="93">
                <h1 class="text-xl font-medium">Company Details</h1>
            </header>

            <div class="overflow-x-auto">
                <table class="table-auto w-full">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ company.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ company.name }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ company.address }}</td>
                        </tr>
                        <tr>
                            <th>Logo</th>
                            <td>{{ company.logo }}</td>
                        </tr>
                        <tr>
                            <th>Banner</th>
                            <td>{{ company.banner }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ company.email }}</td>
                        </tr>
                        <tr>
                            <th>PhoneNumber</th>
                            <td>{{ company.phoneNumber }}</td>
                        </tr>
                        <tr>
                            <th>TaxNumber</th>
                            <td>{{ company.taxNumber }}</td>
                        </tr>
                        <tr>
                            <th>SiretNumber</th>
                            <td>{{ company.siretNumber }}</td>
                        </tr>
                        <tr>
                            <th>Likes</th>
                            <td>{{ company.likes }}</td>
                        </tr>
                        <tr>
                            <th>UpdatedAt</th>
                            <td>{{ company.updatedAt ? company.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>CreatedAt</th>
                            <td>{{ company.createdAt ? company.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>State</th>
                            <td>{{ company.state }}</td>
                        {# </tr>
                        <tr>
                            <th>Uuid</th>
                            <td>{{ company.uuid }}</td>
                        </tr>
                        <tr> #}
                            <th>Slug</th>
                            <td>{{ company.slug }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex mt-4">
                <a href="{{ path('app_company_index') }}" class="mr-2 text-blue-600">Back to list</a>
                <a href="{{ path('app_company_edit', {'id': company.id}) }}" class="text-blue-600">Edit</a>
            </div>

    <a href="{{ path('app_company_edit', {'slug': company.slug}) }}">edit</a>
    <a href="{{ path('app_reque_index', {'companyId': company.id}) }}" class="text-blue-600">Create new</a>
    <a href="{{ path('app_reque_index', {'companyId': company.id}) }}" class="text-blue-600">Create new</a>



    {{ include('company/_delete_form.html.twig') }}

{% endblock %}
