{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    {% include 'partials/_sidebar.html.twig' %}

    <div class="flex flex-col bg-fullPink items-center justify-center min-h-screen py-12">
        <div class="bg-white text-xs shadow-md rounded-lg p-8 max-w-full">
            <header class="flex justify-center items-center mb-4">
                <img src="{{ asset('/images/logo2.png') }}" alt="Logo" class="h-12 rounded-full mr-4" width="93">
            </header>

            <div class="overflow-x-auto">
                <table class="table-auto w-full">
                    <thead class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Roles</th>
                            <th>Lastname</th>
                            <th>Firstname</th>
                            <th>Username</th>
                            <th>Picture</th>
                            <th>Signup Date</th>
                            <th>State</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 text-sm font-light">
                        {% for user in users %}
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.username }}</td>
                                <td><img src="{{ user.picture }}" alt="Profile picture" class="h-8 w-8 rounded-full"></td>
                                <td>{{ user.signupDate ? user.signupDate|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ user.state }}</td>
                                <td>
                                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-blue-600 hover:text-blue-700">Show</a>
                                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-blue-600 hover:text-blue-700 ml-4">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10" class="text-center py-3 px-6">No records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="mt-4">
                <a href="{{ path('app_user_new') }}" class="text-blue-600">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
