{% extends 'base.html.twig' %}

{% block title %}User Details{% endblock %}

{% block body %}
<div class="flex flex-col bg-fullPink items-center justify-center min-h-screen py-12">
    <div class="bg-white text-xs shadow-md rounded-lg p-8 max-w-full">
        <header class="flex justify-center items-center mb-4">
            <img src="{{ asset('/images/user-logo.png') }}" alt="Logo" class="h-12 rounded-full mr-4">
            <h1 class="text-xl font-medium">User Details</h1>
        </header>

        <div class="overflow-x-auto">
            <table class="table-auto w-full">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Lastname</th>
                        <td>{{ user.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Firstname</th>
                        <td>{{ user.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <th>Uuid</th>
                        <td>{{ user.uuid ? user.uuid : 'Non défini' }}</td>
                    </tr>
                    <tr>
                        <th>Picture</th>
                        <td>{{ user.picture ? user.picture : 'No picture' }}</td>
                    </tr>
                    <tr>
                        <th>Signup Date</th>
                        <td>{{ user.signupDate ? user.signupDate|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{ user.state }}</td>
                    </tr>
                    <tr>
                        <th>Update At</th>
                        <td>{{ user.updateAt ? user.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Deleted At</th>
                        <td>{{ user.deletedAt ? user.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ user.slug }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex mt-4">
            <a href="{{ path('app_user_index') }}" class="mr-2 text-blue-600">Back to list</a>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-blue-600">Edit</a>
            {# <a href="{{ path('app_invite_user', {'companyId': app.user.company.id, 'senderId': app.user.id, 'userId': user.id}) }}">Inviter</a> #}
        </div>

        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
